.searchBarContainer {
  position: relative;
  width: 30rem;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchBar {
      border: 2px solid #fcfaff;
      border-radius: 10px;
      box-shadow: 0 2px 4px 2px rgba($color: #000000, $alpha: 0.3);
      width: 30rem;
      @media (min-width: 240px) and (max-width: 450px) {
        width: 230px;
      }
      @media (min-width: 450px) and (max-width: 620px) {
        width: 300px;
      }
      @media (min-width: 820px) {
        width: 600px;
      }
      @media (max-width: 350px) {
        width: 260px;
      }
      background-color: #ffffff57;
      padding: 10px 5px 10px 40px;
      outline: none;
      font-size: 15px;
      color: white;
      &::placeholder {
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.888);
      }
      &:focus {
        border: none;
        padding: 12px 8px 12px 40px;
        box-shadow: none;
        background-color: transparent;
      }
    }
    .iconSearch {
      left: 15px;
      width: 20px;
      height: 20px;
      position: absolute;
      color: rgb(255, 248, 248);
      font-size: 20px;
      top: 9px;
    }
    .boxPreview {
      z-index: -1;
      position: absolute;
      top: 0;
      width: 30rem;
      @media (min-width: 240px) and (max-width: 450px) {
        width: 230px;
      }
      @media (min-width: 450px) and (max-width: 620px) {
        width: 300px;
      }
      @media (min-width: 820px) {
        width: 600px;
      }
      @media (max-width: 350px) {
        width: 260px;
      }
      min-height: 40px;
      background-color: #ffffff57;
      border-radius: 10px;
      border: 2px white solid;
      .searchResult {
        max-height: calc(100vh - 150px);
        margin-top: 50px;
        overflow-y: auto;
        .searchCard {
          margin-top: 10px;
          padding: 0 5px;
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 255, 255, 0.459);
          }
          .iconSearchResult {
            padding-top: 10px;
            margin: 0 10px;
            font-size: 25px;
            color: #000000;
          }
          .NameSearchCard {
            color: black;
          }
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 5px;
          margin: 30px 0;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 15px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #9c9e9a;
        }
      }
    }
  }
}
