.searchWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-bottom: 25px;
}
.Question {
  margin-top: -76px;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  color: unset;
  text-shadow: unset;
}
.shopContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .deleteIcon {
    position: absolute;
    font-size: 30px;
    display: flex;
    cursor: pointer;
    z-index: 2;
    color: red;
    right: 0;
  }

  .editIcon {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    color: black;
    display: flex;
    left: 0;
  }
  .shopItem {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 245px;
    height: 444px;
    background-color: white;
    transition: ease-in-out transport 200ms, box-shadow 200ms ease-in-out;
    box-shadow: 0px 4px 16px rgba($color: #000000, $alpha: 0.6);
    &:hover {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      transform: translateY(-4px);
    }
    .hoverMassage {
      position: absolute;
      background-color: #00000080;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      right: -30px;
      top: -35px;
      color: white;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hoverLeft {
      right: unset;
      left: -30px;
    }
    .shopImgBox {
      position: relative;
      overflow: hidden;
      .shopImg {
        width: 245px;
        height: 260px;
        &:hover {
          transform: scale(1.1);
          transition: transform 3s ease-out;
        }
      }
    }
    .shopText {
      border-top: solid 2px rgba(78, 78, 78, 0.422);
      height: auto;
      text-align: center;
      color: black;
      background: white;
      .shopHeader {
        font-weight: 700;
        font-size: 20px;
      }
      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1em;
      }
      .shopPrice {
        margin-top: -1em;
      }
      .shopSize {
        font-size: 12px;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
    }
  }
}
